@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-\*: initial;
  --font-base: Inter, sans-serif;
  --font-accent: Roobert, sans-serif;

  --container-8xl: 88rem;
  --container-9xl: 96rem;

  --color-\*: initial;
  --color-primary: #e3562d;
  --color-primary-text: #faf4df;

  --color-bg: #faf4df;
}
